<h2>Workflow Batch</h2>

<button type="button" ng-click="vm.addWorkflowBatch()">Add Workflow Batch</button>

<table>
    <tr ng-repeat="workflowBatch in vm.workflowBatchResult.model">
        <td>{{ workflowBatch.name }}</td>
        <td>{{ workflowBatch.description }}</td>
        <td>
            <button type="button" ng-click="vm.details(workflowBatch)">Details</button>
            <button type="button" ng-click="vm.edit(workflowBatch)">Edit</button>
            <button type="button" ng-click="vm.clone(workflowBatch)">Clone</button>
        </td>
    </tr>
</table>
