<h2>Clone</h2>

<div>
    Name
    <span>{{ vm.workflowBatchResult.model.name }}</span>
</div>

<div>
    Description
    <span>{{ vm.workflowBatchResult.model.description }}</span>
</div>

<div>
    <h3>Workflows</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr ng-repeat="workflow in vm.workflowBatchResult.model.workflows">
            <td>{{ workflow.name }}</td>
            <td>{{ workflow.description }}</td>
        </tr>
    </table>
</div>

<button type="button" ng-click="vm.back()">Back</button>
